#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
        #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        ht_cw: ht_cw {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&caps_word>;
            display-name = "Hold-Tap-Caps-Word";
            hold-while-undecided;
        };

        td_c_cw_ls: td_c_cw_ls {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&ht_cw LSHIFT 0>, <&mt LSHIFT CAPSLOCK>;
        };

        td_c_cw_rs: td_c_cw_rs {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&ht_cw RSHIFT 0>, <&mt RSHIFT CAPSLOCK>;
        };

        ctrl_alt_macro: ctrl_alt_macro {
            compatible     = "zmk,behavior-macro";
            label          = "CTRL+ALT";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LCTRL &kp LALT
                &macro_release &kp LALT &kp LCTRL
            >;
        };

        ctrl_alt_shift_macro: ctrl_alt_shift_macro {
            compatible     = "zmk,behavior-macro";
            label          = "CTRL+ALT+SHIFT";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LCTRL &kp LALT &kp LSHIFT
                &macro_release &kp LSHIFT &kp LALT &kp LCTRL
            >;
        };

        td_ctrl_combo: tap_dance_ctrl_combo {
            compatible     = "zmk,behavior-tap-dance";
            label          = "TAP_DANCE_CTRL_COMBO";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <
                &kp LCTRL
                &ctrl_alt_macro
                &ctrl_alt_shift_macro
            >;
        };
        
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
                &kp EQUAL   &kp N1     &kp N2  &kp N3       &kp N4      &kp N5  &tog 1                                                                              &mo 3       &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
                &kp TAB     &kp Q      &kp W   &kp E        &kp R       &kp T   &none                                                                               &none       &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
                &kp ESC     &kp A      &kp S   &kp D        &kp F       &kp G   &tog 4                 &td_ctrl_combo       &kp LALT      &kp LGUI   &kp RCTRL      &none       &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
                &td_c_cw_ls &kp Z      &kp X   &kp C        &kp V       &kp B                                               &kp HOME      &kp PG_UP                             &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH &td_c_cw_rs
                &mo 2       &kp GRAVE  &mo 1   &kp LEFT     &kp RIGHT           &mt LALT BACKSPACE     &mt LCTRL DELETE     &kp END       &kp PG_DN  &kp ENTER      &kp SPACE           &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
                &kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
                &kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
                &kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
                &kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
                &mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
                &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
                &trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans   &trans   &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans
                &trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
                &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
                &none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
                &none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
                &studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
                &none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
                &none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        MouseMvmt {
            display-name = "Red";
            bindings = <
                &none  &none  &none           &none           &none            &none           &none                                   &none  &none  &none  &none  &none  &none  &none
                &none  &none  &mkp MB3        &mmv MOVE_UP    &mkp MB1         &mkp MB2        &none                                   &none  &none  &none  &none  &none  &none  &none
                &none  &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_UP    &trans  &none  &none      &none  &none  &none  &none  &none  &none  &none  &none  &none
                &none  &none  &none           &msc SCRL_LEFT  &msc SCRL_RIGHT  &msc SCRL_DOWN                 &none      &none                &none  &none  &none  &none  &none  &none
                &none  &none  &none           &none           &none                            &none   &none  &none      &none  &none  &none         &none  &none  &none  &none  &none
            >;
        };
    };
};